<div class=content>
  <div class=logo>
    <span class=wrapper>
      <img src="/bundles/assets/images/avval_logo.png">
    </span>
  </div>

  <div class=terms>
    <div class=title>
      <h1>
        Mentions légales
      </h1>
    </div>
    <div class=title2>
      <h2>

Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.
<h3>Editeur du site</h3>

Site Internet Qualité
par Natural-net
49 boulevard Antoine Gautier
33000 Bordeaux
France
Tél. : + 33 (0)6 62 79 25 55
Fax : + 33 (0)5 40 00 02 66
https://www.site-internet-qualite.fr

Natural-net est une EURL au capital de 3500€
RCS B 497 553 71 - Siret : 49755371900020 - APE : 6201Z
N° déclaration CNIL : 1522193
Conditions d'utilisation
Le site accessible par les url suivants : www.site-internet-qualite.fr est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société Natural-net.
Natural-net ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.
<h3>Responsable éditorial</h3>

Eric Emery
Site Internet Qualité
par Natural-net
49 boulevard Antoine Gautier
33000 Bordeaux
France
Tél. : + 33 (0)6 62 79 25 55
Fax : + 33 (0)5 40 00 02 66
http://www.site-internet-qualite.fr
Limitation de responsabilité
Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).

Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, Natural-net ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.   

Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Natural-net.
<h3>Litiges</h3>
Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société Natural-net. La langue de référence, pour le règlement de contentieux éventuels, est le français.
<h3>Déclaration à la CNIL</h3>
Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, le site a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (www.cnil.fr). 
<h3>Droit d'accès</h3>
En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès de Natural-net 49 Boulevard Antoine Gautier 33000 Bordeaux ou par voie électronique à l’adresse email suivante : contact@natural-net.fr.
Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour l’éventuelle bonne exécution de la prestation commandée par l’internaute.
<h3>Confidentialité</h3>
Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.
Propriété intellectuelle

Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société Natural-net à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Natural-net. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.

Natural-net est identiquement propriétaire des "droits des producteurs de bases de données" visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet 1998) relative aux droits d'auteur et aux bases de données.

Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante : www.site-internet-qualite.fr, à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation expresse et préalable de Natural-net.

Pour toute demande d'autorisation ou d'information, veuillez nous contacter par email : contact@natural-net.fr. Des conditions spécifiques sont prévues pour la presse.

Par ailleurs, la mise en forme de ce site a nécessité le recours à des sources externes dont nous avons acquis les droits ou dont les droits d'utilisation sont ouverts : Pioneer - Multi-Purpose HTML 5 / CSS 3 Corporate Template.   
 

    Créé le : 24/05/2016
    Auteur : Dankov
    E-mail de l'auteur : dankov.theme@gmail.com

<h3>Hébergeur</h3>
Kiubi
Plateforme de gestion et création de sites internet
www.kiubi.com
contact@kiubi.com
Conditions de service
Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Safari, Firefox, Chrome,...
Informations et exclusion
Natural-net met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de Natural-net, et signaler toutes modifications du site qu'il jugerait utile. Natural-net n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.
<h3>Cookies</h3>
Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits fichiers textes stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation. Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.
<h3>Liens hypertextes</h3>
Les sites internet de Natural-net peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet.

Natural-net ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. Natural-net ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.

Les utilisateurs, les abonnés et les visiteurs des sites internet de Natural-net ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de Natural-net.

Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de Natural-net, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. Natural-net se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.
Recherche
En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon que Natural-net reconnaît ou accepte quelque responsabilité quant à la teneur ou à l'utilisation dudit site.
Précautions d'usage
Il vous incombe par conséquent de prendre les précautions d'usage nécessaires pour vous assurer que ce que vous choisissez d'utiliser ne soit pas entaché d'erreurs voire d'éléments de nature destructrice tels que virus, trojans, etc....
Responsabilité
Aucune autre garantie n'est accordée au client, auquel incombe l'obligation de formuler clairement ses besoins et le devoir de s'informer. Si des informations fournies par Natural-net apparaissent inexactes, il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des résultats obtenus. Natural-net ne sera en aucune façon responsable vis à vis des tiers de l'utilisation par le client des informations ou de leur absence contenues dans ses produits y compris un de ses sites Internet.   
<h3>Contactez-nous</h3>
Natural-net est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en français par courrier électronique à : contact@natural-net.fr.
     


J´accepte que mes données personnelles soient utilisées pour être recontacté par Natural-net à des fins commerciales *

Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par Natural net pour nos offres et démarches commerciales. Elles sont conservées pendant 36 mois et sont destinées à :

- Natural-net (www.natural-net.fr) en qualité de propriétaire du site web et récipiendaire des formulaires, 
- Kiubi (www.kiubi.com) en qualité d'opérateur technique du site web,
- Mailchimp (mailchimp.com) en qualité d'opérateur technique des mailings et lettres d'informations, 
- OVH (www.ovh.com) en tant qu'hébergeur de notre site web, 
- Google Inc. (Google Drive) en tant qu'outil de stockage et sauvegarde des données.
​- Youday (https://www.youday.fr/) en tant que CRM (Gestion de relation client).

Conformément aux article 15 à 22 RGPD, concernant les données que nous détenons sur vous vous disposez des droits suivants : 
- droit d’accès (article 15 du RGPD)
- droit de rectification (article 16 du RGPD)
- droit d’effacement  (article 17 du RGPD)
- droit à la limitation du traitement  (article 18 du RGPD)
- droit de notification des = rectifications,  effacements, limitation  (article 19 du RGPD)
- droit à la portabilité des données  (article 20 du RGPD)
- droit d’opposition  (article 21 du RGPD)
- droit de ne pas faire l’objet d’un profilage ( (article 22 du RGPD) 

Vous pouvez exercer ces droit en contactant : GETAVOCAT - DPO de Natural-net : Maître Christophe LANDAT, 18 rue de la République 34000 Montpellier.

Nous vous informons de l’existence de la liste d'opposition au démarchage téléphonique « Bloctel », sur laquelle vous pouvez vous inscrire ici : https://conso.bloctel.fr/



      </h2>

    </div>
    <div class=text>

              
        <h2>Définitions</h2>
        <p><b>Client&nbsp;:</b>&nbsp;tout professionnel ou personne physique capable au sens des articles 1123 et suivants du Code civil, ou personne morale, qui visite le Site objet des présentes conditions générales.<br>
        <b>Prestations et Services&nbsp;:</b> <a href="http://local">http://local</a> met à disposition des Clients&nbsp;:</p>

        <p><b>Contenu&nbsp;:</b>&nbsp;Ensemble des éléments constituants l’information présente sur le Site, notamment textes – images – vidéos.</p>

        <p><b>Informations clients&nbsp;:</b> Ci après dénommé «&nbsp;Information (s)&nbsp;» qui correspondent à l’ensemble des données personnelles susceptibles d’être détenues par <a href="http://local">http://local</a> pour la gestion de votre compte, de la gestion de la relation client et à des fins d’analyses et de statistiques.</p>


        <p><b>Utilisateur :</b> Internaute se connectant, utilisant le site susnommé.</p>
        <p><b>Informations personnelles :</b> « Les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>
        <p>Les termes «&nbsp;données à caractère personnel&nbsp;», «&nbsp;personne concernée&nbsp;», «&nbsp;sous traitant&nbsp;» et «&nbsp;données sensibles&nbsp;» ont le sens défini par le Règlement Général sur la Protection des Données (RGPD&nbsp;: n° 2016-679)</p>

        <h2>1. Présentation du site internet.</h2>
        <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet&nbsp;<a href="http://local">http://local</a>&nbsp;l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
        </p><p><strong>Propriétaire</strong> :   z   – zz zz zz<br>
                      
        <strong>Responsable publication</strong> : zz – zzz<br>
        Le responsable publication est une personne physique ou une personne morale.<br>
        <strong>Webmaster</strong> : zz – zz<br>
        <strong>Hébergeur</strong> : zzzz – zz zz zzzz zz<br>
        <strong>Délégué à la protection des données</strong> : zzz – ro@oui<br>
        </p>

        <div ng-bind-html="linkHTML"><p>Ces mentions légales RGPD sont issues du <a href="https://fr.orson.io/1371/generateur-mentions-legales" title="générateur gratuit de mentions légales pour un site internet">générateur gratuit de mentions légales pour un site internet</a></p></div>



        <h2>2. Conditions générales d’utilisation du site et des services proposés.</h2>

        <p>Le Site constitue une œuvre de l’esprit protégée par les dispositions du Code de la Propriété Intellectuelle et des Réglementations Internationales applicables. 
        Le Client ne peut en aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux du Site.</p>

        <p>L’utilisation du site&nbsp;<a href="http://local">http://local</a>&nbsp;implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site&nbsp;<a href="http://local">http://local</a>&nbsp;sont donc invités à les consulter de manière régulière.</p>

        <p>Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par <a href="http://local">http://local</a>, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
        Le site web&nbsp;<a href="http://local">http://local</a>&nbsp;est mis à jour régulièrement par <a href="http://local">http://local</a> responsable. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>

        <h2>3. Description des services fournis.</h2>

        <p>Le site internet&nbsp;<a href="http://local">http://local</a>&nbsp;a pour objet de fournir une information concernant l’ensemble des activités de la société.
        <a href="http://local">http://local</a> s’efforce de fournir sur le site&nbsp;<a href="http://local">http://local</a>&nbsp;des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des oublis, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>

        <p>Toutes les informations indiquées sur le site&nbsp;<a href="http://local">http://local</a>&nbsp;sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site&nbsp;<a href="http://local">http://local</a>&nbsp;ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>

        <h2>4. Limitations contractuelles sur les données techniques.</h2>

        <p>Le site utilise la technologie JavaScript.

        Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour
        Le site <a href="http://local">http://local</a> est hébergé chez un prestataire sur le territoire de l’Union Européenne conformément aux dispositions du Règlement Général sur la Protection des Données (RGPD&nbsp;: n° 2016-679)</p>

        <p>L’objectif est d’apporter une prestation qui assure le meilleur taux d’accessibilité. L’hébergeur assure la continuité de son service 24 Heures sur 24, tous les jours de l’année. Il se réserve néanmoins la possibilité d’interrompre le service d’hébergement pour les durées les plus courtes possibles notamment à des fins de maintenance, d’amélioration de ses infrastructures, de défaillance de ses infrastructures ou si les Prestations et Services génèrent un trafic réputé anormal.</p>

        <p><a href="http://local">http://local</a> et l’hébergeur ne pourront être tenus responsables en cas de dysfonctionnement du réseau Internet, des lignes téléphoniques ou du matériel informatique et de téléphonie lié notamment à l’encombrement du réseau empêchant l’accès au serveur.</p>

        <h2>5. Propriété intellectuelle et contrefaçons.</h2>

        <p><a href="http://local">http://local</a> est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, icônes et sons.
        Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : <a href="http://local">http://local</a>.</p>

        <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

        <h2>6. Limitations de responsabilité.</h2>

        <p><a href="http://local">http://local</a> agit en tant qu’éditeur du site. <a href="http://local">http://local</a> &nbsp;est responsable de la qualité et de la véracité du Contenu qu’il publie. </p>

        <p><a href="http://local">http://local</a> ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site internet <a href="http://local">http://local</a>, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.</p>

        <p><a href="http://local">http://local</a> ne pourra également être tenu responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site&nbsp;<a href="http://local">http://local</a>.
        Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. <a href="http://local">http://local</a> se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, <a href="http://local">http://local</a> se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).</p>

        <h2>7. Gestion des données personnelles.</h2>

        <p>Le Client est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la confiance dans l’Economie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la Protection des Données (RGPD&nbsp;: n° 2016-679). </p>

        <h3>7.1 Responsables de la collecte des données personnelles</h3>

        <p>Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de l’Utilisateur et de sa navigation sur le Site, le responsable du traitement des Données Personnelles est : z. <a href="http://local">http://local</a>est représenté par zzz, son représentant légal</p>

        <p>En tant que responsable du traitement des données qu’il collecte, <a href="http://local">http://local</a> s’engage à respecter le cadre des dispositions légales en vigueur. Il lui appartient notamment au Client d’établir les finalités de ses traitements de données, de fournir à ses prospects et clients, à partir de la collecte de leurs consentements, une information complète sur le traitement de leurs données personnelles et de maintenir un registre des traitements conforme à la réalité.
        Chaque fois que <a href="http://local">http://local</a> traite des Données Personnelles, <a href="http://local">http://local</a> prend toutes les mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des finalités pour lesquelles <a href="http://local">http://local</a> les traite.</p>
        &nbsp;
        <h3>7.2 Finalité des données collectées</h3>
        &nbsp;
        <p><a href="http://local">http://local</a> est susceptible de traiter tout ou partie des données : </p>

        <ul>
          
        <li>pour permettre la navigation sur le Site et la gestion et la traçabilité des prestations et services commandés par l’utilisateur : données de connexion et d’utilisation du Site, facturation, historique des commandes, etc. </li>
        &nbsp;
        <li>pour prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé pour la navigation, l’adresse IP, le mot de passe (hashé) </li>
        &nbsp;
        <li>pour améliorer la navigation sur le Site : données de connexion et d’utilisation </li>
        &nbsp;
        <li>pour mener des enquêtes de satisfaction facultatives sur <a href="http://local">http://local</a> : adresse email </li>
        <li>pour mener des campagnes de communication (sms, mail) : numéro de téléphone, adresse email</li>


        </ul>

        <p><a href="http://local">http://local</a> ne commercialise pas vos données personnelles qui sont donc uniquement utilisées par nécessité ou à des fins statistiques et d’analyses.</p>
        &nbsp;
        <h3>7.3 Droit d’accès, de rectification et d’opposition</h3>
        &nbsp;
        <p>
        Conformément à la réglementation européenne en vigueur, les Utilisateurs de <a href="http://local">http://local</a> disposent des droits suivants : </p>
        &nbsp;<ul>

        <li>droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication ou la conservation est interdite </li>
        &nbsp;
        <li>droit de retirer à tout moment un consentement (article 13-2c RGPD) </li>
        &nbsp;
        <li>droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD) </li>
        &nbsp;
        <li>droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD) </li>
        &nbsp;
        <li>droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD) </li>
        &nbsp;
        <li>droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui <a href="http://local">http://local</a> devra communiquer (ou non) ses données à un tiers qu’ils aura préalablement désigné</li>
        &nbsp;</ul>

        <p>Dès que <a href="http://local">http://local</a> a connaissance du décès d’un Utilisateur et à défaut d’instructions de sa part, <a href="http://local">http://local</a> s’engage à détruire ses données, sauf si leur conservation s’avère nécessaire à des fins probatoires ou pour répondre à une obligation légale.</p>
        &nbsp;
        <p>Si l’Utilisateur souhaite savoir comment <a href="http://local">http://local</a> utilise ses Données Personnelles, demander à les rectifier ou s’oppose à leur traitement, l’Utilisateur peut contacter <a href="http://local">http://local</a> par écrit à l’adresse suivante : </p>
        &nbsp;
        z – DPO, zzz <br>
        zz zz zz.
        &nbsp;
        <p>Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que <a href="http://local">http://local</a> corrige, mette à jour ou supprime, en s’identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou passeport). </p>

        <p>
        Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à <a href="http://local">http://local</a> par la loi, notamment en matière de conservation ou d’archivage des documents. Enfin, les Utilisateurs de <a href="http://local">http://local</a> peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL (https://www.cnil.fr/fr/plaintes).</p>
        &nbsp;
        <h3>7.4 Non-communication des données personnelles</h3>

        <p>
        <a href="http://local">http://local</a> s’interdit de traiter, héberger ou transférer les Informations collectées sur ses Clients vers un pays situé en dehors de l’Union européenne ou reconnu comme «&nbsp;non adéquat&nbsp;» par la Commission européenne sans en informer préalablement le client. Pour autant, <a href="http://local">http://local</a> reste libre du choix de ses sous-traitants techniques et commerciaux à la condition qu’il présentent les garanties suffisantes au regard des exigences du Règlement Général sur la Protection des Données (RGPD&nbsp;: n° 2016-679).</p>

        <p>
        <a href="http://local">http://local</a> s’engage à prendre toutes les précautions nécessaires afin de préserver la sécurité des Informations et notamment qu’elles ne soient pas communiquées à des personnes non autorisées. Cependant, si un incident impactant l’intégrité ou la confidentialité des Informations du Client est portée à la connaissance de <a href="http://local">http://local</a>, celle-ci devra dans les meilleurs délais informer le Client et lui communiquer les mesures de corrections prises. Par ailleurs <a href="http://local">http://local</a> ne collecte aucune «&nbsp;données sensibles&nbsp;».</p>

        <p>
        Les Données Personnelles de l’Utilisateur peuvent être traitées par des filiales de <a href="http://local">http://local</a> et des sous-traitants (prestataires de services), exclusivement afin de réaliser les finalités de la présente politique.</p>
        <p>
        Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales personnes susceptibles d’avoir accès aux données des Utilisateurs de <a href="http://local">http://local</a> sont principalement les agents de notre service client.</p>
        
        <div ng-bind-html="rgpdHTML"><h3>7.5 Types de données collectées</h3><p>Concernant les utilisateurs d’un Site <a href="http://local">http://local</a>, nous collectons les données suivantes qui sont indispensables au fonctionnement du service&nbsp;, et qui seront conservées pendant une période maximale de 9 mois après la fin de la relation contractuelle:<br>nom prénom email</p><p><a href="http://local">http://local</a> collecte en outre des informations qui permettent d’améliorer l’expérience utilisateur et de proposer des conseils contextualisés&nbsp;:<br>cursus profession</p><p> Ces &nbsp;données sont conservées pour une période maximale de 9 mois après la fin de la relation contractuelle</p></div>


        <h2>8. Notification d’incident</h2>
        <p>
        Quels que soient les efforts fournis, aucune méthode de transmission sur Internet et aucune méthode de stockage électronique n'est complètement sûre. Nous ne pouvons en conséquence pas garantir une sécurité absolue. 
        Si nous prenions connaissance d'une brèche de la sécurité, nous avertirions les utilisateurs concernés afin qu'ils puissent prendre les mesures appropriées. Nos procédures de notification d’incident tiennent compte de nos obligations légales, qu'elles se situent au niveau national ou européen. Nous nous engageons à informer pleinement nos clients de toutes les questions relevant de la sécurité de leur compte et à leur fournir toutes les informations nécessaires pour les aider à respecter leurs propres obligations réglementaires en matière de reporting.</p>
        <p>
        Aucune information personnelle de l'utilisateur du site&nbsp;<a href="http://local">http://local</a>&nbsp;n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat de <a href="http://local">http://local</a> et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur du site&nbsp;<a href="http://local">http://local</a>.</p>

        <h3>Sécurité</h3>

        <p>
        Pour assurer la sécurité et la confidentialité des Données Personnelles et des Données Personnelles de Santé, <a href="http://local">http://local</a> utilise des réseaux protégés par des dispositifs standards tels que par pare-feu, la pseudonymisation, l’encryption et mot de passe. </p>
        &nbsp;
        <p>
        Lors du traitement des Données Personnelles, <a href="http://local">http://local</a>prend toutes les mesures raisonnables visant à les protéger contre toute perte, utilisation détournée, accès non autorisé, divulgation, altération ou destruction.</p>
        &nbsp;
        <h2>9. Liens hypertextes « cookies » et balises (“tags”) internet</h2>
        <p>
        Le site&nbsp;<a href="http://local">http://local</a>&nbsp;contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de <a href="http://local">http://local</a>. Cependant, <a href="http://local">http://local</a> n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.</p>
        Sauf si vous décidez de désactiver les cookies, vous acceptez que le site puisse les utiliser. Vous pouvez à tout moment désactiver ces cookies et ce gratuitement à partir des possibilités de désactivation qui vous sont offertes et rappelées ci-après, sachant que cela peut réduire ou empêcher l’accessibilité à tout ou partie des Services proposés par le site.
        <p></p>

        <h3>9.1. « COOKIES »</h3>
        &nbsp;<p>
        Un « cookie » est un petit fichier d’information envoyé sur le navigateur de l’Utilisateur et enregistré au sein du terminal de l’Utilisateur (ex : ordinateur, smartphone), (ci-après « Cookies »). Ce fichier comprend des informations telles que le nom de domaine de l’Utilisateur, le fournisseur d’accès Internet de l’Utilisateur, le système d’exploitation de l’Utilisateur, ainsi que la date et l’heure d’accès. Les Cookies ne risquent en aucun cas d’endommager le terminal de l’Utilisateur.</p>
        &nbsp;<p>
        <a href="http://local">http://local</a> est susceptible de traiter les informations de l’Utilisateur concernant sa visite du Site, telles que les pages consultées, les recherches effectuées. Ces informations permettent à <a href="http://local">http://local</a> d’améliorer le contenu du Site, de la navigation de l’Utilisateur.</p>
        &nbsp;<p>
        Les Cookies facilitant la navigation et/ou la fourniture des services proposés par le Site, l’Utilisateur peut configurer son navigateur pour qu’il lui permette de décider s’il souhaite ou non les accepter de manière à ce que des Cookies soient enregistrés dans le terminal ou, au contraire, qu’ils soient rejetés, soit systématiquement, soit selon leur émetteur. L’Utilisateur peut également configurer son logiciel de navigation de manière à ce que l’acceptation ou le refus des Cookies lui soient proposés ponctuellement, avant qu’un Cookie soit susceptible d’être enregistré dans son terminal. <a href="http://local">http://local</a> informe l’Utilisateur que, dans ce cas, il se peut que les fonctionnalités de son logiciel de navigation ne soient pas toutes disponibles.</p>
        &nbsp;<p>
        Si l’Utilisateur refuse l’enregistrement de Cookies dans son terminal ou son navigateur, ou si l’Utilisateur supprime ceux qui y sont enregistrés, l’Utilisateur est informé que sa navigation et son expérience sur le Site peuvent être limitées. Cela pourrait également être le cas lorsque <a href="http://local">http://local</a> ou l’un de ses prestataires ne peut pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par le terminal, les paramètres de langue et d’affichage ou le pays depuis lequel le terminal semble connecté à Internet.</p>
        &nbsp;<p>
        Le cas échéant, <a href="http://local">http://local</a> décline toute responsabilité pour les conséquences liées au fonctionnement dégradé du Site et des services éventuellement proposés par <a href="http://local">http://local</a>, résultant (i) du refus de Cookies par l’Utilisateur (ii) de l’impossibilité pour <a href="http://local">http://local</a> d’enregistrer ou de consulter les Cookies nécessaires à leur fonctionnement du fait du choix de l’Utilisateur. Pour la gestion des Cookies et des choix de l’Utilisateur, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d’aide du navigateur, qui permettra de savoir de quelle manière l’Utilisateur peut modifier ses souhaits en matière de Cookies.</p>
        &nbsp;<p>
        À tout moment, l’Utilisateur peut faire le choix d’exprimer et de modifier ses souhaits en matière de Cookies. <a href="http://local">http://local</a> pourra en outre faire appel aux services de prestataires externes pour l’aider à recueillir et traiter les informations décrites dans cette section.</p>
        &nbsp;<p>
        Enfin, en cliquant sur les icônes dédiées aux réseaux sociaux Twitter, Facebook, Linkedin et Google Plus figurant sur le Site de <a href="http://local">http://local</a> ou dans son application mobile et si l’Utilisateur a accepté le dépôt de cookies en poursuivant sa navigation sur le Site Internet ou l’application mobile de <a href="http://local">http://local</a>, Twitter, Facebook, Linkedin et Google Plus peuvent également déposer des cookies sur vos terminaux (ordinateur, tablette, téléphone portable).</p>
        &nbsp;<p>
        Ces types de cookies ne sont déposés sur vos terminaux qu’à condition que vous y consentiez, en continuant votre navigation sur le Site Internet ou l’application mobile de <a href="http://local">http://local</a>. À tout moment, l’Utilisateur peut néanmoins revenir sur son consentement à ce que <a href="http://local">http://local</a> dépose ce type de cookies.</p>
        &nbsp;
        <h3>Article 9.2. BALISES (“TAGS”) INTERNET</h3>
        &nbsp;

        <p>

        <a href="http://local">http://local</a> peut employer occasionnellement des balises Internet (également appelées « tags », ou balises d’action, GIF à un pixel, GIF transparents, GIF invisibles et GIF un à un) et les déployer par l’intermédiaire d’un partenaire spécialiste d’analyses Web susceptible de se trouver (et donc de stocker les informations correspondantes, y compris l’adresse IP de l’Utilisateur) dans un pays étranger.</p>
        &nbsp;
        <p>
        Ces balises sont placées à la fois dans les publicités en ligne permettant aux internautes d’accéder au Site, et sur les différentes pages de celui-ci. 
        &nbsp;</p>
        <p>
        Cette technologie permet à <a href="http://local">http://local</a> d’évaluer les réponses des visiteurs face au Site et l’efficacité de ses actions (par exemple, le nombre de fois où une page est ouverte et les informations consultées), ainsi que l’utilisation de ce Site par l’Utilisateur. </p>
        &nbsp;<p>
        Le prestataire externe pourra éventuellement recueillir des informations sur les visiteurs du Site et d’autres sites Internet grâce à ces balises, constituer des rapports sur l’activité du Site à l’attention de <a href="http://local">http://local</a>, et fournir d’autres services relatifs à l’utilisation de celui-ci et d’Internet.</p>
        &nbsp;<p>
        </p><h2>10. Droit applicable et attribution de juridiction.</h2>  
         <p>
        Tout litige en relation avec l’utilisation du site&nbsp;<a href="http://local">http://local</a>&nbsp;est soumis au droit français. 
        En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de zz</p>



    
    </div>
  </div>
</div>

