<div class=content>
  <div class=logo>
    <span class=wrapper>
      <img src="/bundles/assets/images/avval_logo.png">
    </span>
  </div>

  <div class="login">
    <div>
      <a href="/auth/linkedin">
        <button
          mat-button
          color="primary">
          <img class=icon src="/bundles/assets/images/Linkedin.svg" />
          <mat-icon>chevron_right</mat-icon>
          <label>
            Login with Linkedin
          </label>
        </button>
      </a>
    </div>
    <div>
      <a href="/auth/github">
        <button
          mat-button
          color="primary">
          <img class=icon src="/bundles/assets/images/github.svg" />
          <mat-icon>chevron_right</mat-icon>
          <label>
            Login with GitHub
          </label>
        </button>
      </a>
    </div>
  </div>
</div>
