<div class=content>
  <div class=logo>
    <span class=wrapper>
      <img src="/bundles/assets/images/avval_logo.png">
    </span>
  </div>

  <div class=welcome>
    <div class=wrapper>
      <div class=title>
        <h1>
          Bienvenue sur l'annuaire de l'AV-Val
        </h1>
      </div>
      <div>
        <a href="/signup">
          <button
            mat-raised-button
            color="primary">
            <label>
              S'inscrire
            </label>
          </button>
        </a>
      </div>
      <div>
        <a href="/login">
          <button
            mat-raised-button
            color="primary">
            <label>
              S'identifier
            </label>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
